.card {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}
.heading1{
  padding: 0.5rem;
  margin: 65px;
  border-bottom: 3px solid deeppink;
}
.heading2{
  padding: 0.5rem;
  margin: 5px;
  border-bottom: 3px solid deeppink;

}
.heading3{
  padding: 0.5rem;
  margin: 40px;
  border-bottom: 3px solid deeppink;
}

.content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(73, 184, 235);
  margin:3px;
}
.images img{
  display: flex;
  margin: 1rem;
  border: 1px solid plum;
  text-align: center;
  width: 80px;
  height: fit-content;
  overflow: hidden;
}
.quantity{
  font-weight: bold;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid plum;
  border-radius: 10px;
}
.price{
  font-weight: bold;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid;
  border-radius: 10px;
}

.title{
  font-weight: bold;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid plum;
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 2rem;
}

.actions {
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color:  #25a3ec;
  border: 1px solid #25a3ec;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;

}

.actions button:hover,
.actions button:active {
  background-color:rgb(82, 211, 244);
  border-color: #25a3ec;
  color: white;
}

.actions .button--alt {
  color:  #25a3ec;
}

.actions .button {
  background-color:  #25a3ec;
  color:white;
}

.close{
 display: flex;
 flex-direction: row-reverse;
 margin-bottom: 5px;
}
