.contact-section {
    margin: 1rem auto;
    width: 90%;
    max-width: 40rem;
    text-align: center;
    background-color:whitesmoke;
    border: 5px solid purple;
    padding: 2rem;
    border-radius: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif
  }
  
  .contact-section h3{
      color: purple;
      padding: 0;
  
  }
  
  .contact-name {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif
  }
  
  .contact-name input {
    width: 100%;
    margin: 5px 0px 10px 0px;
    height: 2rem;
    border-radius: 5px;
  }
  
  .contact-email {
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  
  .contact-email input {
    width: 100%;
    margin: 5px 0px 10px 0px;
    height: 2rem;
    text-align: top;
    border-radius: 5px;
  }
  
  .contact-number {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .contact-number input {
    width: 100%;
    margin: 5px 0px 10px 0px;
    height: 2rem;
    border-radius: 5px;
  }
  
  .contact-section Button{
      background-color:black;
      width: 10rem;
      margin: 1rem;
      border-radius: 8px;
      border-color:palevioletred;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .contact-section button:hover{
      background-color: palevioletred;
      color:white
  }