.navbar{
  width: 100%;
  display: flex;
  position:fixed;
}

.ul { 
 
 display: flex;
 justify-content: center;
 align-content: center;
 align-items: center;
 color: white;
 gap: 40px; 
 margin: 10px auto;
}
 
 .li {
   list-style-type: none;
   margin: 15px auto;
   padding: 3px;
   color: white;
   display: flex;
   font-size: 25px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: center;
   font-weight: bold;
 }

  .li a {
    color: white;
  }
  
  .li a:hover,
  .li a.active {
     color:palevioletred;
  }
