.navbar{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
   
  }
 
  .header { 
   margin-left: 30%;
   display: flex;
   justify-content: center;
   align-content: center;
   align-items: center;
   color: white;
   gap: 40px;
 }
 
 .li {
   list-style-type: none;
   margin: 5px;
   padding: 1px;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size: large;
   font-weight: 500;
 }
 .cart-button {
    margin-left: 200px;
    margin-right: 2px;
    border-color: aqua;
    background-color: black;
    border-radius: 24px;
    width: 100px;
   
  }
  
   h1 {
      background-color: rgb(99, 97, 97);
      color:white;
      font-family: 'Times New Roman';
      font-size: 90px;
      height: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
  
   }
  
  .li a {
    color: white;
  }
  
  .li a:hover,
  .li a.active {
     color: rgb(255, 251, 0)
  }