
.modal {
  position: fixed;
  margin-left: 420px;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  z-index: 30;
  border: 1px solid palevioletred;
}

@media (min-width: 768px) {
  .modal {
    width: 30rem;
    left: calc(60% - 21rem);
    bottom: 10px;
    top: 10px;
    height: 97%;
  }
}

